.modal {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30rem;
    position: relative;
    top: 5rem;
}

.modal textarea {
    resize: none;
}