.todo {
    background-color: rgb(50, 50, 120);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 0;
}

.header {
    display: flex;
}

.imageSection {
    margin: auto;
}

.infoSection {
    width: 27rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.infoHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}