.todo {
    background-color: rgb(50, 50, 120);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 0;
}

.header {
    display: flex;
}

.imageSection {
    margin: auto;
    display: flex;
    align-items: flex-start;
    width: 13rem;
}

.infoSection {
    width: 35rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.infoHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.task_status {
    font-size: .9rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0;
    width: 6rem;
    height: 1.3rem;
    cursor: default;
    text-align: center;
}

.in_process {
    background-color: rgb(68, 68, 252);
}

.failed {
    background-color: red;
}

.completed {
    background-color: green;
}