.header {
    display: flex;
    justify-content: center;
}

.space {
    width: 1rem;
}

.status {
    color: white;
}

.totalFilter {
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    background-color: rgb(0, 0, 255);
    border-radius: 30%;
    padding: 5px 8px;
}

.active {
    border-bottom: 2px solid white;
}

.inactive {
    background-color: inherit;
    height: 1px;
}