.header {
    display: flex;
    justify-content: center;
}

.space {
    width: 1rem;
}

.status {
    color: white;
    width: 8rem;
}

.active {
    border-bottom: 2px solid white;
}

.inactive {
    background-color: inherit;
    height: 1px;
}